@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
html{
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
  line-height: 20px;
  background-color: #313146;
}
h1{
  flex-wrap: wrap;
  display: flex;
  font-size:6vw;
}
p{
  font-size: 2.3vw;
}
.nav{
  height: 80vh;
  background-image: url('./images/deadpool_2_bullets-wallpaper-1920x1080.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.7; */

}
.nav-bar{
display: flex;
justify-content: space-around;

}
.nav-bar ul{
  display: flex;
  list-style-type: none;
  /* margin: 0; */
  padding: 0;
}
.nav-bar ul li{
  padding: 0 15px;
}
a {
  cursor: pointer;
  font-size: 20px;
}
h3{
  font-size: 20px;
}
.featured{
  padding-top: 80px;
  padding-left: 100px;
  font-weight: 100;
  opacity: ;
}
/* opacity or the page */

.input{
  padding-left: 100px;
  outline: none;
  background:none;
  border: none;
  outline: none;

}
input {
    border:none;
    border-bottom: 5px solid #1890ff;
    padding: 7px 20px;
    outline: 0;
    background: none;
    font-size: 24px;
    color: black;
}
input:focus {
  border-color: 5px solid green;
}
button{
  padding: 7px 20px;
  cursor: pointer;
}
/* styling for the movies section */
.movies{
  display: flex;
  flex-wrap: wrap;
  padding:40px 0 0 0;
  margin-top: 10px;
  justify-content: space-around;
  font-weight: 100;
  font-size: 24px;

  margin: 0 100px;
}
.movies .movie{
  cursor: pointer;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  padding-bottom: 150px;

}
.movies .movie img{
  display: block;
  border-radius: 7px;
  margin: 3px solid green;
}
.movies .movie h2{
  color: #fff;
  font-size: 24px;
  padding: 10px;
  flex: 1 1 100%;
  transition: 0.5s ease-out;
  line-height: 24px;
}
.movies .movie:hover h2{
  background: #fff;
  color:#223343;
  border-radius: 6px;
}

/* styling for the popup section */
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/no_time_to_die_movie_2020-wallpaper-2048x1152.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;

  overflow-y: scroll;

}
.intro{
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  /* padding: 25px; */
  border: 0;
  color: #fff;

}
.intro img{
  border-radius: 7px;
}
.intro .plot{
  display: flex;
  flex: wrap;
}
.intro .plot p{
  padding: 0px 30px;
  line-height: 140%;
}
.intro button{
  margin-top: 20px;
  padding: 12px 30px;
  margin-left: 5px;
}
.intro button:hover{
  color: white;
  background: green;
}
.downlo{
  display: flex;
}
.downlo button{
  margin-left: 200px;
  margin-top: 50px;

}
/* stying for the downloadd btn */
.downbtn{
  padding: 15px;
}
/* this is the styling for the upcoming section */
.upcoming{
  display: flex;
  flex-wrap: wrap;
  padding:40px 0 0 0;
  margin-top: 10px;
  justify-content: space-around;
  font-weight: 100;
  font-size: 24px;

  margin: 0 100px;
}
.upcoming .movi{
  cursor: pointer;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  padding-bottom: 150px;
  margin-bottom: 50px;

}
.upcoming .movi img{
  display: block;
  border-radius: 7px;
  margin: 3px solid green;
}
.upcoming .movi h2{
  color: #fff;
  font-size: 24px;
  margin:0;
  padding: 10px;
  flex: 1 1 100%;
  transition: 0.5s ease-out;
  line-height: 24px;
}
.upcoming .movi:hover h2{
  background: #fff;
  color:#223343;
  border-radius: 6px;
}
.upcoming .movie p{
  margin: 0;
  padding: 0;
  border: 0;
  color: white;

}
.heading{
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* styling for the download icon */
a{
  text-decoration: none;
  color: black;
}